@{
  Layout = "_Layout";
}
@model PierresTreats.Models.Treat

<h2>Add Flavors to this Treat</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>
<p>This treat tastes like:</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  <br>
  @Html.DropDownList("FlavorId")
  <br>
  <input type="submit" value="MAKE IT SO"/>
}

<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>