@{
  Layout = "_Layout";
}

<h2>Authentification with Identity</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
  <h3>Hello @User.Identity.Name!</h3>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log Out" />
  }
}
else
{
  <h3>@Html.ActionLink("Register", "Register")</h3>
  <h3>@Html.ActionLink("Log In", "Login")</h3>
}

<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
<h3>@Html.ActionLink("Manage Roles", "Index", "Roles")</h3>