@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model RegisterViewModel

<h2>Register a new Customer Profile</h2>
<hr />

@if(!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <p>@Html.LabelFor(user => user.Email): 
  @Html.TextBoxFor(user=> user.Email)</p>

  <p>@Html.LabelFor(user=> user.Password):
  @Html.EditorFor(user=> user.Password)<br>
  <em>must be at least 6 characters long, contain a capital, lower case letter, a number, and a special character.</em></p>

  <p>@Html.LabelFor(user=> user.ConfirmPassword):
  @Html.EditorFor(user=> user.ConfirmPassword)</p>

  <input type="submit" value="Register" />
}
<hr />
<p>@Html.ActionLink("Back to accounts page", "Index")</p>