@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Pierre's Sweet and Savory Treats!</h1>

<hr>

<h4>Flavors</h4>
@if (Model["Flavors"].Length == 0)
{
  <p>No flavors have been added yet!</p>
} 
<ul>
  @foreach (Flavor flav in Model["Flavors"])
  {
    <li>@Html.ActionLink(@flav.Kind, "Details", "Flavors", new { id = @flav.FlavorId})</li>
  }
</ul>

<h4>Treats</h4>
@if (Model["Treats"].Length == 0)
{
  <p>No Treats have been added yet!</p>
} 
<ul>
  @foreach (Treat trt in Model["Treats"])
  {
    <li>@Html.ActionLink(@trt.Name, "Details", "Treats", new { id = @trt.TreatId})</li>
  }
</ul>


@* @if (User.Identity.IsAuthenticated)
{
  <h4>Items</h4>
@if (Model["items"].Length == 0)
{
  <p>No items have been added yet!</p>
} 
<ul>
  @foreach (Item item in Model["items"])
  {
    <li>@Html.ActionLink(@item.Description, "Details", "Items", new { id = @item.ItemId})</li>
  }
</ul>
}
else
{
  <h4>Items</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your items.</p>
} *@


<hr>

<p>@Html.ActionLink("Manage Flavors", "Index", "Flavors")</p> 
<p>@Html.ActionLink("Manage Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>